<h1>Bienvenue dans The Gossip Project</h1>

<h4>Découvre les potins de la commu. Balance ta propre sauce. Et surtout, n'oublie pas de liker et commenter 😉.</h4>

<div class="row row-cols-1 row-cols-md-4 g-4">
    <% @gossips.each do |gossip| %>
        <div class="col">
            <div class="card">
                <div class="card-body">
                    <h5><%= gossip.title %></h5>
                    <p>Auteur : <%= gossip.user.first_name %></p>
                    <%= link_to 'Voir plus', gossip_path(gossip), class: 'btn btn-danger' %>
                </div>
            </div>
        </div>
    <% end %>
</div>