/* Balises */

h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2% 0;
}

form {
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Class */

.nav-item {
    border-radius: 3px;
}

.nav-item:hover {
    background-color: rgb(223, 54, 54);
    font-weight: bolder;
}

nav .container-fluid {
    margin: 0px 15px;
}

.right {
    justify-content: space-between;
}

.nav-bar-right {
    margin-right: 0px;
}

.btn a {
    font-weight: 500;
    text-decoration: none;
}

.title.form-control {
    width: 350px;
    margin: 1% 0;
}

.content.form-control {
    width: 350px;
    margin: 1% 0;
    height: 250px;
}

.btn.btn-danger {
    margin: 1% 0;
}

.bg-light {
    --bs-light-rgb: 255, 150, 150;
}

/* .change.col {
    --bs-gutter-y: 1.5rem;
    margin-top: calc(0 * var(--bs-gutter-y));
    margin-right: calc(1 * var(--bs-gutter-x));
    margin-left: calc(2 * var(--bs-gutter-x));
} */