/* Balises */



/* Class */

.nav-item {
    border-radius: 3px;
}

.nav-item:hover {
    background-color: lightgray;
    font-weight: bolder;
}

nav .container-fluid {
    margin: 0px 15px;
}

.right {
    justify-content: space-between;
}

.nav-bar-right {
    margin-right: 0px;
}

.btn.btn-secondary {
    border-color: rgb(156, 156, 156);
    background-color: rgb(156, 156, 156);
}

.btn a {
    font-weight: 500;
    text-decoration: none;
    color: white;
}